<div class="jumbotron text-center">
	<h1>Status: niezalogowany</h1>

	<p>
	<br/>
	<div class="input-group">
	<span class="input-group-addon">Login</span>
	<input type="text" class="form-control" placeholder="Wpisz swój identyfikator">
	</div>
	<br/>
	<div class="input-group">
	<span class="input-group-addon">Hasło</span>
	<input type="text" class="form-control" placeholder="Wpisz swoje hasło">
	</div>
	<br/>
	<button type="button" class="btn btn-default btn-lg pull-left disabled">Zaloguj</button>
	<a href="/signup"><button type="button" class="btn btn-default btn-lg pull-right">Brak konta</button></a>
	</p>
	
</div>