<div class="jumbotron text-center">
	<h1>Informacje o pracy nad projektami</h1>

	<p>{{ tagline }}</p>
	
	<div class="panel panel-default">
		<div class="panel-heading">
		Projekt - {{projectInfo.name}} 
		<span class="badge">Członków: {{usersNumber}} </span>
		<span class="label label-success">Ident: {{projectInfo.ident}} </span>
		</div>
		
		<div class="panel-body">
			<img src="img/steel.jpg" alt="..." class="img-thumbnail">
			<p/>
			<div class="progress">
				<div class="progress-bar progress-bar-success" style="width: 5%">
				<span class="sr-only">{{projectInfo.completion}}% Complete</span>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default disabled"><i class="fa fa-folder"></i> Szczegóły</button>
				<button type="button" class="btn btn-default disabled"><i class="fa fa-check-square-o"></i> Dołącz</button>
				<button type="button" class="btn btn-default disabled"><i class="fa fa-times-circle"></i> Opuść</button>
				<button type="button" class="btn btn-default disabled"><i class="fa fa-eye"></i> Obserwuj</button>
			</div>
		</div>
	</div>
	
</div>