<div class="jumbotron text-center">
	<h1>Praca nad projektami</h1>

	<p>{{ tagline }}</p>
	
	<div class="panel panel-default">
		<div class="panel-heading">
		Projekt - Stalowy Kubek 
		<span class="badge">Członków: 0</span>
		<span class="label label-success">Ident: pc01</span>
		</div>
		
		<div class="panel-body">
			<img src="img/steel.jpg" alt="..." class="img-thumbnail">
			<p/>
			<div class="progress">
				<div class="progress-bar progress-bar-success" style="width: 5%">
				<span class="sr-only">5% Complete</span>
				</div>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default disabled"><i class="fa fa-folder"></i> Szczegóły</button>
				<button type="button" class="btn btn-default disabled"><i class="fa fa-check-square-o"></i> Dołącz</button>
				<button type="button" class="btn btn-default disabled"><i class="fa fa-times-circle"></i> Opuść</button>
				<button type="button" class="btn btn-default disabled"><i class="fa fa-eye"></i> Obserwuj</button>
			</div>
		</div>
	</div>
	
</div>