<div class="jumbotron text-center">
	<h2>Wypełnij dane</h2>

	<p>
	<br/>
	<div class="input-group">
	<span class="input-group-addon">Login</span>
	<input type="text" class="form-control" placeholder="Wpisz swój identyfikator">
	</div>
	<br/>
	<div class="input-group">
	<span class="input-group-addon">Hasło</span>
	<input type="text" class="form-control" placeholder="Wpisz swoje hasło">
	</div>
	<br/>
	<div class="input-group">
	<span class="input-group-addon">Imię</span>
	<input type="text" class="form-control" placeholder="Wpisz swoje imię">
	</div>
	<br/>
	<div class="input-group">
	<span class="input-group-addon">Nazwisko</span>
	<input type="text" class="form-control" placeholder="Wpisz swoje nazwisko">
	</div>
	<br/>
	<div class="input-group">
	<span class="input-group-addon">Pozycja</span>
	<input type="text" class="form-control" placeholder="Wpisz swoje stanowisko w firmie">
	</div>
	<br/>
	<br/>
	<button type="button" class="btn btn-default btn-lg pull-left disabled"><i class="fa fa-check"></i> Zapisz</button>
	<a href="/login"><button type="button" class="btn btn-default btn-lg pull-right"><i class="fa fa-chevron-circle-left"></i> Logowanie</button></a>
	</p>
	
</div>